.auth-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    background-color: #FFFFFF4C;
    backdrop-filter: blur(10px);
    width: 50%;
    margin: auto;
    height: calc(100vh - 120px);
}

.form-header {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: column;
}

.input {
    transition: .2s all ease-in;
    display: flex;
    height: fit-content;
    border-bottom: 1px solid #999;
    margin-bottom: 10px;
    margin-top: 10px;
    overflow: hidden;
}

.input label {
    transition: .2s all ease-in;
    color: #999;
    width: 85px;
    margin-right: 5px;
}

.input input {
    width: 100%;
    border: 0;
    background: transparent;
}

.input input:focus-within {
    border-color: #fff;
    outline: none;
}

.input:focus-within {
    border-color: darkgreen;
}

.input:focus-within > label {
    color: darkgreen;
    margin-left: 5px;
    margin-right: 0;
}

.btn-confirm-edit {
    transition: .2s all ease-in;
    border: none;
    padding: 5px 15px 5px 15px;
    outline: 1px solid darkgreen;
    color: darkgreen;
    cursor: pointer;
    background: transparent;
    margin-top: 25px;
}

.submit-btn {
    transition: 0.2s all ease-in;
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    border-radius: 0;
    border: none;
    outline: 1px solid darkgreen;
    color: darkgreen;
    background-color: transparent;
}

.submit-btn:hover {
    background-color: darkgreen;
    color: #fff;
}


.link {
    text-decoration: none;
    color: #0a0908;
}

.link:hover {
    text-decoration: underline;
}

.links {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-self: flex-start;
    justify-self: flex-start;
    margin-bottom: 10px;
}

.auth-header {
    display: flex;
    flex-direction: column;
    height: fit-content;
}

@media screen and (max-width: 920px) {
    .auth-form {
        width: 80vw;
    }
}