.my-events {
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
    height: 100vh;
}

.my-events-container {
    margin-top: 60px;
}

.my-events-header {
    width: 70%;
    margin-inline: auto;
}

.event-cards {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: 70%;
    background: white;
    box-shadow: 0 2px 6px #152d6714;
    margin-inline: auto;
    overflow-y: auto;
    height: 70vh;
}