.profile {
    display: flex;
    flex-direction: column;
    background-color: #f7f8fa;
    height: 100vh;
}

.profile-container {
    margin-top: auto;
    margin-bottom: auto;
}

.main-page-header {
    width: 80%;
    margin-inline: auto;
}

.profile-cards {
    display: flex;
    justify-content: space-around;
    height: 100%;

}

.profile-card {
    padding: 25px;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 2px 6px #152d6714;
    width: 30%;
    height: 310px;
    margin-top: auto;
    margin-bottom: auto;
}

.account-control  h2 {
    margin-bottom: 70px;
}

.profile-data-container {
    margin-bottom: 5px;
    margin-top: 5px;
}

.profile-data-caption {
    font-weight: lighter;
    font-size: 14px;
    color: #000b2666;
}

.status-data {
    padding: 5px 15px 5px 15px;
    color: #3f5e3f;
    background-color: rgba(87,234,128,.12);
    width: fit-content;
}

.control-btn {
    transition: .2s all ease-in;
    border: none;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    outline: 1px solid;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
    justify-self: center;
}

.edit-btn {
    outline-color: #333;
    color: #333;
}

.edit-btn:hover {
    background-color: #333;
    color: white;
}

.delete-btn {
    color: red;
    outline-color: red;
}

.delete-btn:hover {
    background-color: red;
    color: white;
}