* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  background: rgb(238,174,202);
  background: linear-gradient(90deg, rgba(238,174,202,1) 0%, rgba(226,233,148,1) 100%);
  padding-top: 60px;
}

@media screen and (max-width: 770px) {
  body {
    margin-top: 15px;
  }

}